body {
    color: white;
    background-color: black;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(192, 168, 192);
}

.small {
    background-color: white;
}

.content {
    position: fixed;
    left: 25%;
    top: 0;
    background-color: rgba(142, 16, 192, 0.199);
    z-index: 1;
    width: 50%;
    padding-bottom: 1em;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

button {
    background-color: rgba(142, 16, 192, 0);
    color: rgb(192, 168, 192);
    border: 2px solid rgba(142, 16, 192, 0.199);
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: rgb(192, 168, 192);
    color: purple;
    border: 2px solid rgb(192, 168, 192);
}
